<h1> <%= @mod.program %> <%= @mod.number %> </h1>

<% @mod.students.each do |student| %>
  <p> 
    <%= student.name%> - <%= student.pronouns %> - <%= student.called_on_count %> - <%= link_to "Edit", "/mods/#{@mod.id}/students/#{student.id}", method: :get%> - <%= button_to "Delete Student", "/students/#{student.id}", form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %>
  </p> 
<% end %>

<% if @mod.students.count > 0 %>

  <p><%= button_to "Add A Student", "/mods/#{@mod.id}/students/new", method: :get %></p>

  <p><%= button_to "Reset Called On Count", "/mods/#{@mod.id}/student_count", method: :delete %></p>
  
  <%= form_with url: "/mods/#{@mod.id}/students" do |form| %>
    <%= form.text_area :collection_names, placeholder: "Insert Names" %>
    <%= form.text_area :collection_pronouns, placeholder: "Insert Pronouns" %>
    <%= form.submit "Add Students" %>
  <% end %>

<% end %>